# --- PORTS ---
CLIENT_PORT=
SERVER_PORT=
MYSQL_PORT=
PHPMYADMIN_PORT=

# --- DATABASE CONFIGURATION ---
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# --- FRONTEND ---
VITE_API_URL=

# --- SPRING SECURITY ---
SPRING_SECURITY_USER_NAME=
SPRING_SECURITY_USER_PASSWORD=
SPRING_SECURITY_USER_ROLES=

# --- JWT CONFIGURATION ---
JWT_SECRET=
JWT_EXPIRATION=